---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tag from "../components/Tag.astro";
---

<BaseLayout>
	<div>
		<h6>
			Tech stack:
			<Tag />
		</h6>
	</div>
	<div>
		<h6>
			Frameworks:
			<Tag />
		</h6>
	</div>
	<div>
		<h6>
			Programs:
			<Tag />
		</h6>
	</div>

</BaseLayout>
