---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import profileImage from '../images/profile_pic.jpg';
---

<BaseLayout>
	<div class="greetings-container">
		<div class="textplusphoto">
            <h1>GREETINGS!</h1>
			<Image class="profile-image" src={profileImage} alt="Picture of me."/>
          </div>

	<p>Welcome to my website.
	</p>
	<p>
		I am Arttu, a 27 years old developer from Jyväskylä.
	</p>
	<p>I am currently employed as a junior developer in an eCommerce agency doing all kind of things related to front-end development and Shopify.</p>
	<p>
		This site works as my personal website, portfolio and a blog.
		Feel free to look around and remember to have fun!
	</p>
	<h2>Latest posts</h2>
	<p>
		Post 1
	</p>

</div>
</BaseLayout>

<style>
.textplusphoto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-image {
  display: block;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

@media (max-width: 720px) {
	.greetings-container{
		width: 100%;
	}
	.textplusphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #profile-image {
    display: block;
    display: flex;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
  }
}


</style>