---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import About from '../components/About.astro';
import TimeLine from '../components/TimeLine.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
---

<Layout title='Arttu Nikkilä'>
  <Navigation />
  <main class='wrapper bg-background'>
    <About />
    <TimeLine />
    <Projects />
    <Skills />
    <Footer />
  </main>
</Layout>
<script>
  import '../scripts/menu.js';
</script>
