---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import profileImage from '../images/profile_pic.jpg';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
  const latestPosts = posts.slice(0, 3); // Get the latest 3 posts
---

<BaseLayout>
	<div class="greetings-container">
		<div class="textplusphoto">
            <h1>Heya.</h1>
			<Image class="profile-image" src={profileImage} alt="Picture of me."/>
          </div>

	<p>Welcome to my website.
	</p>
	<p>
		I am Arttu, a 27 years old developer from Jyväskylä, Finland - currently employed as a junior developer in an eCommerce agency doing all kind of things related to front-end development and Shopify.
  </p>
	<p>
		This site works as my personal website, portfolio and blog. Built with
    Astro, deployed on Hetzner Cloud VPS with Github Actions.
  </p>
  <p>
   If you are interested in looking under the hood, the whole source code is available on a public
   <a href="https://github.com/succabs/www-site" target="_blank">
    GitHub repository</a>.
  </p>

  

  <div>
  
        <a class="" href="/blog" title="All Posts">All Posts &rarr;</a>
    </div>  


</div>
</BaseLayout>

<style>
.textplusphoto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-image {
  display: block;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-right:5rem;
}

@media (max-width: 720px) {
	.greetings-container{
		width: 100%;
	}
	.textplusphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #profile-image {
    display: block;
    display: flex;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
  }
}


</style>