---
import { Image } from 'astro:assets';
import myImage from '../media/me.jpg';
import { Icon } from 'astro-icon/components';
---

<section id="about" class='text-body mt-12 md:pt-12 pb-8'>
  <div
    class='container mx-auto flex flex-col-reverse md:flex-row items-center px-4'
  >
    <!-- Left Section: Greeting, Subheading, Text, Social Icons, Buttons -->
    <div class='md:w-1/2 text-left space-y-6'>
      <h1 class="text-4xl md:text-3xl font-bold text-center md:text-left tracking-tight text-heading">
        Hi, my name is 
        <span class="name-animation whitespace-nowrap">
          <span class="inline-block ml-2 md:ml-1 fade-in-1 text-primary">A</span>
          <span class="inline-block fade-in-2 text-primary">r</span>
          <span class="inline-block fade-in-3 text-primary">t</span>
          <span class="inline-block fade-in-4 text-primary">t</span>
          <span class="inline-block fade-in-5 text-primary">u</span>
        
          <span class="inline-block ml-2 fade-in-6 text-secondary">N</span>
          <span class="inline-block fade-in-7 text-secondary">i</span>
          <span class="inline-block fade-in-8 text-secondary">k</span>
          <span class="inline-block fade-in-9 text-secondary">k</span>
          <span class="inline-block fade-in-10 text-secondary">i</span>
          <span class="inline-block fade-in-11 text-secondary">l</span>
          <span class="inline-block fade-in-12 text-secondary">ä</span>
          <span class="inline-block fade-in-13">.</span>
        </span>
        
      </h1>
      
      



      <h2 class='text-xl text-center md:text-left font-semibold text-heading'>I create beautiful websites and ensure accurate analytics data.</h2>
      <p class=' text-body text-center md:text-left'>
        In my current role I adapt to a wide range of situations deeply in the <span
          class='italic'>client interface</span
        >, balancing technical expertise with customer-facing responsibilities in the field of eCommerce.
      </p>
      <p class="text-body text-center md:text-left">Outside the computer world I enjoy playing guitar, reading books (especially science fiction) and exploring obscure topics. In the summer, you might catch me magnet fishing — a surprisingly fun way to spend a sunny day.</p>
      <p class="text-body text-center md:text-left">Explore the site and enjoy your stay!</p>

      <!-- Social Icons -->
      <div class='flex justify-center md:justify-start space-x-6'>
        <a href='https://linkedin.com/in/arttu-nikkila' target='_blank' aria-label="Visit my LinkedIn" class='text-4xl'
        ><Icon class='fab fa-2x' name='skill-icons:linkedin' /></a
      >
        <a href='https://github.com/succabs' target='_blank' aria-label="Visit my GitHub" class='text-4xl'
          ><Icon class='fab fa-2x' name='skill-icons:github-dark' /></a
        >

        <a href='mailto:artnikkila@gmail.com' aria-label="Send me an email" class='text-4xl'
          ><Icon class='fab fa-2x' name='material-symbols:mail-sharp' /></a
        >

      </div>
      <div class=" mt-6">
        <p class="text-4xl font-signature text-body text-center md:text-left">-Arttu :)</p>
      </div>
    </div>
    <!-- Right Section: Image/Illustration -->
    <div class='md:w-1/2 flex justify-center md:justify-end pb-6'>
      <Image src={myImage} alt='Picture of me' class='w-64 h-64 rounded-full' />
    </div>
  </div>
</section>

<div
  class='top-0 left-0 right-0 h-0.5 bg-gradient-to-l from-transparent via-slate-400 to-transparent my-12 md:my-36'
>
</div>
