---
import { Image } from 'astro:assets';
import myImage from '../media/me.jpg';
import { Icon } from 'astro-icon/components';
---

<section class='text-body pt-12 md:pt-16 pb-8'>
  <div
    class='container mx-auto flex flex-col-reverse md:flex-row items-center px-2'
  >
    <!-- Left Section: Greeting, Subheading, Text, Social Icons, Buttons -->
    <div class='md:w-1/2 text-center md:text-left space-y-6'>
      <h1 class='text-5xl md:text-4xl font-bold'>
        Hi, my name is
        <span class='text-secondary'>Arttu</span>
        <span
          class='text-primary'>Nikkilä</span
        >.
      </h1>
      <h2 class='text-2xl font-semibold text-heading'>I am a developer.</h2>
      <p class='text-lg text-body'>
        In my current role I adapt to a wide range of situations deeply in the <span
          class='italic'>client interface</span
        >, balancing technical expertise with customer-facing responsibilities in the field of eCommerce.
      </p>

      <!-- Social Icons -->
      <div class='flex justify-center md:justify-start space-x-6'>
        <a href='https://github.com' target='_blank' class='text-4xl'
          ><Icon class='fab fa-2x' name='skill-icons:github-dark' /></a
        >
        <a href='https://linkedin.com' target='_blank' class='text-4xl'
          ><Icon class='fab fa-2x' name='skill-icons:linkedin' /></a
        >
      </div>
    </div>
    <!-- Right Section: Image/Illustration -->
    <div class='md:w-1/2 flex justify-center md:justify-end pb-6'>
      <Image src={myImage} alt='Picture of me' class='w-64 h-64 rounded-full' />
    </div>
  </div>
</section>

<div
  class='top-0 left-0 right-0 h-0.5 bg-gradient-to-l from-transparent via-gray-300 to-transparent my-4 md:my-12'
>
</div>
