---
export interface Props {
  title: string; // Certification title
  issuer: string; // Issuing organization
  date: string; // Date of issue
  link?: string; // Optional link to the certificate
}

const { title, issuer, date, link } = Astro.props;
---

<div class=" p-6 duration-300 bg-background rounded-lg border border-body overflow-hidden transition-transform hover:scale-105">
  <h3 class="text-xl font-semibold text-heading mb-2">{title}</h3>
  <p class="text-body">Issued by {issuer}</p>
  <p class="text-sm text-body mb-4">Issued on {date}</p>

  {link ? (
    <a
      href={link}
      class="inline-blocktext-primary py-2 px-4 rounded transition-colors text-body bg-blue-600 hover:bg-blue-800"
      target="_blank"
      rel="noopener noreferrer"
    >
      View Certificate
    </a>
  ) : (
    <p class="text-gray-400 italic">No link available</p>
  )}
</div>
