<footer class='py-12 relative wrapper bg-background'>
  <!-- Fading Top Border (Fades toward the corners) -->
  <div
    class='top-0 left-0 right-0 h-0.5 bg-gradient-to-l from-transparent via-gray-300 to-transparent'
  >
  </div>

  <div class='container mx-auto px-4 py-8'>
    <!-- Text Information -->
    <div class='text-gray-500 text-center mb-4'>
      This site is made with VSCode using Astro and TailwindCSS. Deployed with GitHub Actions
      to Hetzner VPS running Ubuntu server. The source code is available on a <a
        href='https://github.com'
        class='underline text-blue-600 hover:text-blue-800 visited:text-purple-600'>Github repository</a
      >.
    </div>

    <!-- Copyright and Email -->
    <div class='text-center text-gray-600'>
      © 2024 Arttu Nikkilä - <a
        href='mailto:artnikkila@gmail.com'
        class='underline text-blue-600 hover:text-blue-800 visited:text-purple-600'>artnikkila@gmail.com</a
      >
    </div>
  </div>
</footer>
