<div
  id='toggleMenu'
  class='relative grid w-20 h-20 p-6 top-2 right-6 md:hidden'
>
  <div
    class="relative w-16 h-2 bg-black rounded-full transition-all duration-150 before:content-[''] before:absolute before:w-16 before:h-2 before:bg-black before:rounded-full before:-translate-y-4 before:transition-all before:duration-150 after:content-[''] after:absolute after:w-16 after:h-2 after:bg-black after:rounded-full after:translate-y-4 after:transition-all after:duration-150"
  >
  </div>
</div>
