---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<h6 class="menu-heading">MENU</h6>
			<div class="link-wrapper"><HeaderLink href="/">Home</HeaderLink></div>
			<div class="link-wrapper"><HeaderLink href="/about">About me</HeaderLink></div>
			<div class="link-wrapper"><HeaderLink href="/projects">Projects</HeaderLink></div>
			<div class="link-wrapper"><HeaderLink href="/blog">Blog</HeaderLink></div>
		  </div>

		<div class="internal-links">
			<h6 class="menu-heading">EMAIL & LINKS</h6>
			<a href="mailto:artnikkila@gmail.com">artnikkila@gmail.com</a>
		<div class="social-links">
			<a href="https://exercism.org/profiles/succabs" target="_blank">
				<span class="sr-only">Link to my Exercism</span>
				<Icon name="tabler:code-circle" />
			</a>
			<a href="https://linkedin.com/in/arttu-nikkila" target="_blank">
				<span class="sr-only">Link to my Linkedin</span>
				<Icon name="tabler:brand-linkedin" />
			</a>
			<a href="https://github.com/succabs" target="_blank">
				<span class="sr-only">Link to my GitHub repo</span>
				<Icon name="tabler:brand-github" />
			</a>
		</div>
	</nav>
</header>
<style>

[data-icon] {
		width: 32px;
		height:32px;
    }
	header {
		border-right-style: solid;
		border-image: linear-gradient(#3489eb, #3489eb) 1;
		position: fixed;
		height: calc(100% - 20px);
		padding-right: 2rem;
		padding-left: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: right;
		top: 10px;
		z-index: 1; /* Set a higher z-index for the body border */
	}

	h6{
		margin-bottom: 0.5rem;
		margin-top: 0rem;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}
	.menu-heading:after {
		content: "";
		display: block;
		position: absolute;
		right: 2rem;
		border-bottom: 1px solid black;
		height: 2px;
		width: 2em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	.internal-links {
		display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
	}

	.link-wrapper {
  display: inline-block;
}

.social-links {
	margin-top: 1rem;
}


	nav a {
		color: var(--black);
		text-decoration: none;
		border-bottom: 1px solid transparent;
	}
	nav a:hover {
		color: var(--black);
		border-bottom: 1px solid var(--accent);
	}

	nav a.active {
		text-decoration: none;
		border-bottom: 1px solid var(--accent-dark);
	}
	.social-links,
	.social-links a {
		display: flex;
		justify-content: right;
	}
	@media (max-width: 768px) {
	header{
    position: relative;
    width: 100%;
    border: 0px;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    text-align: center;
    height: auto;
  }

  .social-links,
	.social-links a {
		display: flex;
		justify-content: center;
	}

	.menu-heading:after {
		content: "";
		display: block;
		text-align: center;
		border-bottom: 1px solid black;
		height: 2px;
		width: 2em;
	}

	}
</style>
