---
import { Icon } from 'astro-icon/components';
---

<div
  class='space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent mx-4 pt-8'
>
  <!-- Rocket -->
  <div
    class='relative flex items-center justify-between md:justify-center md:odd:flex-row-reverse group is-active pb-16'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-secondary text-slate-500 group-[.is-active]:text-emerald-50 shadow text-2xl'
    >
      <Icon name='material-symbols:rocket' />
    </div>
  </div>

  <!-- Item #3 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-primary text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:briefcase' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
    >
      <div class='flex items-center justify-between space-x-2 mb-1'>
        <div class='font-bold text-slate-900'>Developer</div>
        <time class='font-caveat font-medium text-indigo-500'
          >03/2024 - Present</time
        >
      </div>
      <div class='text-slate-500'>Web Development at Woolman</div>
    </div>
  </div>

  <!-- Item #4 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-primary text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:briefcase' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
    >
      <div class='flex items-center justify-between space-x-2 mb-1'>
        <div class='font-bold text-slate-900'>Junior Developer</div>
        <time class='font-caveat font-medium text-indigo-500'
          >09/2023-03/2024</time
        >
      </div>
      <div class='text-slate-500'>
        Web Development at Woolman via Saranen Developer Academy
      </div>
    </div>
  </div>

  <!-- Item #5 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-secondary text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:school' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
    >
      <div class='flex items-center justify-between space-x-2 mb-1'>
        <div class='font-bold text-slate-900'>
          Bachelor of Science in Mathematical Information Technology
        </div>
        <time class='font-caveat font-medium'>06/2023</time>
      </div>
      <div class='text-slate-500'>University of Jyväskylä</div>
      <p>Major: Computer Science</p>
      <p>Minor: Psychology</p>
    </div>
  </div>
</div>

<section class='pt-16'>
  <div class='container mx-auto px-4'>
    <p class='text-lg text-gray-600 mb-4'>
      In my current role, I adapt to a wide range of situations deeply in the <span
        class='italic'>client interface</span
      >, balancing technical expertise with customer-facing responsibilities. My
      tasks vary from:
    </p>

    <ul class='list-disc list-inside text-gray-600 mb-6'>
      <li>
        <strong>Shopify theme development</strong>: Working with <strong
          >Liquid</strong
        >, <strong>JavaScript</strong>, <strong>HTML</strong>, <strong
          >CSS</strong
        > and <strong>React</strong> to build and customize Shopify themes that meet
        client needs.
      </li>
      <li>
        <strong>Analytics and Data Management</strong>: Ensuring that analytics
        data flows correctly, using latest practices to capture and track
        relevant customer interactions and making sure that consent management
        platforms are correctly integrated into systems. Yes, I am talking about
        those annoying cookie consent banners.
      </li>
      <li>
        <strong>API Integration</strong>: Leveraging APIs such as <strong
          >GraphQL</strong
        >, <strong>REST</strong>, and third-party services to enhance
        functionality and streamline processes within the Shopify ecosystem.
      </li>
    </ul>
  </div>
</section>
