---
import { Icon } from 'astro-icon/components';
---

<div
  class='space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent mx-4 pt-8'
>


  <!-- Item #3 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-primary text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:briefcase' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
    >
      <div class='flex justify-between space-x-2 mb-1'>
        <div class='font-bold text-slate-900'>Developer, Woolman</div>
        <time class='text-slate-500'
          >03/2024 - Present</time
        >
      </div>
      <div class='text-slate-500'>Shopify theme development & related work with Liquid, HTML, CSS, Javascript, React, GraphQL, REST API.</div>
      <div class='text-slate-500'>Analytics setups and integrations of stores with web pixels, GTM, GA4, Piwik and various CMP's.</div>
    </div>
  </div>

  <!-- Item #4 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-primary text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:briefcase' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
    >
      <div class='flex justify-between space-x-2 mb-1'>
        <div class='font-bold text-slate-900'>Junior Developer, Woolman</div>
        <time class=' text-slate-500'
          >09/2023 - 03/2024</time
        >
      </div>
      <div class='text-slate-500'>
      I landed a job at Woolman via Saranen Developer Academy. Started with basic theme development tasks with Liquid, Javascript, HTML and CSS. Got more responsibility and harder tasks as time went by.
      </div>

    </div>
  </div>

  <!-- Item #5 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-secondary text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:school' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
    >
      <div class='flex justify-between space-x-2 mb-1'>
        <div class='font-bold text-slate-900'>
          Bachelor of Science in Mathematical Information Technology
        </div>
        <time class='text-slate-500'>06/2023</time>
      </div>
      <div class='text-slate-500'>University of Jyväskylä</div>
      <p class="text-slate-500">Major: <span class="text-slate-900">Computer Science</span></p>
      <p class="text-slate-500">Minor: <span class="text-slate-900">Psychology</span></p>
      <p class="text-slate-500">Bachelor's thesis: <span class="text-slate-900">Esoteric Programming Languages</span></p>
    </div>
  </div>
</div>

<div
  class='top-0 left-0 right-0 h-0.5 bg-gradient-to-l from-transparent via-gray-300 to-transparent my-12'
>
</div>
