---
import { Icon } from 'astro-icon/components';
---

<h2 id="experience" class='text-3xl font-bold text-center mb-16 text-heading'>Timeline of relevant events</h2>


<div
  class='space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-800 before:to-transparent mx-4 pt-8'
>


  <!-- Item #3 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full group-[.is-active]:bg-primary group-[.is-active]:text-background shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:briefcase' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-background p-4 rounded border border-slate-200 shadow'
    >
    <div class='flex justify-between space-x-1 mb-1'>
      <div class='flex-1'>
        <span class='font-bold text-body'>Developer, </span>
        <span class='font-bold text-body'>Woolman</span>
      </div>
      <time class='flex-shrink-0 text-heading text-xs whitespace-nowrap'>03/2024 - Present</time>
    </div>
    
    <ul class="list-disc pl-4">
      <li class='text-body'>Shopify theme development & related work with Liquid, HTML, CSS, Javascript, React, GraphQL, REST API.</li>
      <li class='text-body'>Analytics setups and integrations on stores with web pixels, GTM, GA4, Piwik and various CMP's.</li>
      <li class='text-body'>Solo developer on various projects - capable of handling development of small to medium size projects by myself.</li>
      <li class='text-body'>I leverage AI tools (including ChatGPT and CoPilot) as part of my daily workflow.</li>

    </ul>
  

    </div>
  </div>

  <!-- Item #4 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full group-[.is-active]:bg-primary group-[.is-active]:text-background shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:briefcase' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-background p-4 rounded border border-slate-200 shadow'
    >
    <div class='flex justify-between space-x-1 mb-1'>
      <div class='flex-1'>

        <span class='font-bold text-body'>Junior Developer, </span>
        <span class='font-bold text-body'>Woolman</span>
      </div>
      <time class='flex-shrink-0 text-heading text-xs whitespace-nowrap'>09/2023 - 03/2024</time>
    </div>
    <ul class="list-disc pl-4">
      <li class='text-body'>
        After acquiring my B.Sc, I landed to Woolman through Saranen Developer Academy.
        </li>
        <li class='text-body'>
      Dove straight to the deep end with theme development tasks with Liquid, Javascript, HTML and CSS.
          </li>
          <li class='text-body'>
            Both support and project work.
            </li>
            <li class='text-body'>
              Got to know the Shopify platform, its ecosystem and web development in general with the help of amazing mentors.
              </li>
            </ul>
    </div>
  </div>

  <!-- Item #5 -->
  <div
    class='relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active'
  >
    <!-- Icon -->
    <div
      class='flex items-center justify-center w-10 h-10 rounded-full group-[.is-active]:bg-secondary group-[.is-active]:text-background shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2'
    >
      <Icon name='tabler:school' />
    </div>
    <!-- Card -->
    <div
      class='w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-background p-4 rounded border border-slate-200 shadow'
    >
      <div class='flex justify-between space-x-2 mb-1'>
        <div class='font-bold text-body'>
          <span class='font-bold text-body'>Bachelor of Science in Mathematical Information Technology, </span>
          
          <span class='font-bold text-body'>University of Jyväskylä</span>
        </div>
        <time class='flex-shrink-0 text-heading text-xs whitespace-nowrap'>06/2023</time>
      </div>
      <p class="text-heading">Major: <span class="text-body">Computer Science</span></p>
      <p class="text-heading">Minor: <span class="text-body">Psychology</span></p>
      <p class="text-heading">Bachelor's thesis: <a href="https://jyx.jyu.fi/handle/123456789/81727"><span class="text-blue-500 hover:text-blue-600">Esoteric Programming Languages</span></a></p>
    </div>
  </div>
</div>

<div
  class='top-0 left-0 right-0 h-0.5 bg-gradient-to-l from-transparent via-slate-400 to-transparent my-36'
>
</div>
