---
interface Props {
  title: string;
}
import Navigation from '../components/Navigation.astro';
const { title } = Astro.props;

import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Personal website of Arttu Nikkilä. Includes portfolio and blog. Super interesting. You should totally visit here!' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class='bg-background'>
    <Navigation />
    <slot class='wrapper bg-background' />

    <Footer />
  </body>
</html>

<script>
  import '../scripts/menu.js';
</script>